# FOR PRODUCTION SHOULD BE CALLED .env.dist (1) or .env (2)
# REQUIRED
BOT_TOKEN = "666"
# SEMI-REQUIRED
TRACKS_PER_LIMIT = 5 # DEFAULT 5 MIN 5
QUERY_DOWNLOAD_LIMIT_SECS = 30 #DEFAULT 30 MIN 30
#OPTIONAL
CPU_COUNT = 0 #0 - MAX units
DB_NAME="db2" # db name without extension
