# FOR PRODUCTION SHOULD BE CALLED .env.dist (1) or .env (2)
# REQUIRED
BOT_TOKEN = "666"
DATABASE_PATH="/data/db.db" # Full path to sqlite db
# SEMI-REQUIRED
TRACKS_PER_LIMIT = 5 # DEFAULT 5 MIN 5
QUERY_DOWNLOAD_LIMIT_SECS = 30 #DEFAULT 30 MIN 30
#OPTIONAL
CACHE_ROOT_DIR = "./.cache" # <-- without last '/'
CPU_COUNT = 0 #0 - MAX units