# FOR PRODUCTION SHOULD BE CALLED .env.dist (1) or .env (2)
# REQUIRED
BOT_TOKEN = "666" #Telegram bot token
CHANNEL_STORAGE_ID = "-1000000000" # Telegram channel id int-like str or int
# SEMI-REQUIRED
TRACKS_PER_LIMIT = 5 # DEFAULT 5 MIN 5 int
QUERY_DOWNLOAD_LIMIT_SECS = 30 #DEFAULT 30 MIN 30 int
#OPTIONAL
CPU_COUNT = 0 #0 - MAX units int
DB_NAME="db2" # db name without extension str
LOKI_URL = "http://<docker_container_name or host>:3100/loki/api/v1/push"
REPLY_DISAPPEAR_TIMEOUT = 60 # Time until song's reply markup will disappear DEFAULT 30 MIN 30 int
BACKUP_EVERY_N_DAYS = 2 # MIN 1 DEFAULT 2 int